{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email() }}
        {{ form.password.label }} {{ form.password() }}
        {{ form.submit() }}
    </form>

    <div>
        <a href="{{url_for('google_login')}}"><input type="button" value="google_login"; /></a>
    </div>
    <div>
        <input type="button" value="Facebook_login" onclick="FBLogin();" />
    </div>


{% endblock %}